<div class="pure-g">
  <div class="pure-u-1">
    <div class="container">
      <h2><%= @contact %></h2>

      <div class="well">
        <%= form_for(@contact, html: { class: 'pure-form' }, method: :put) do |form| %>
          <fieldset>
            <%= text_field_tag 'contact[phones_attributes][0][number]', nil, placeholder: t('phone.number'), required: true %>
            <%= form.submit t('phone.create'), class: 'button-success pure-button' %>
          </fieldset>
        <% end %>
      </div>

      <div class="well">
        <h3 class="center"><%= t('contact.bio') %></h3>
        <p class="center"><%= @contact.try(:bio) %></p>
      </div>

      <div class="well">
        <h3 class="center"><%= t('contact.address') %></h3>
        <%= render @contact.address %>
      </div>

      <div class="well">
        <h3 class="center"><%= t('phone.numbers') %></h3>
        <%= render @contact.phones %>
      </div>

      <div class="form-actions">
        <%= link_to t('contact.list'), contacts_path, class: 'pure-button' %>
        <%= link_to t(:delete), contact_path(@contact), method: :delete, class: 'button-error pure-button' %>
        <%= link_to t(:edit), edit_contact_path(@contact), class: 'pure-button pure-button-primary' %>
      </div>
    </div>
  </div>
</div>
