<span class="address-data"><strong><%= t('address.address1') %></strong>: <%= address.address1 %></span>
<span class="address-data"><strong><%= t('address.address2') %></strong>: <%= address.try(:address2) %></span>
<span class="address-data"><strong><%= t('address.city') %></strong>: <%= address.city %></span>
<span class="address-data"><strong><%= t('address.state') %></strong>: <%= address.state %></span>
<span class="address-data"><strong><%= t('address.country') %></strong>: <%= address.country %></span>
<span class="address-data"><strong><%= t('address.zip_code') %></strong>: <%= address.zip_code %></span>

